.Intro {
  text-align: center;
  position: relative;
  background-color: #282726;
  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
  color: black;
  font-family: 'Playfair Display', serif;

}

html,body {
    margin:0;
    padding:0;
    overflow-x: hidden;
}

#pix {
  position: absolute;
  vertical-align: top;
  width: 100vw;
  background-color: grey;
  min-height: 100vh;
}

#intro-text{
  vertical-align: top;
  color: #E7E5E1;
  left: 10px;
  top: 10px;
}

#down-arrow{
  position: absolute;
  color: purple;
  bottom: 50px;
  left: 50%;
  margin: 0 auto;
  width: 20px;
  height: 20px;
}

#up-arrow{
  position: relative;
  display:inline-block;
  color: purple;
  bottom: 50px;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background: transparent;
}

.ContentWrapper {
  text-align: center;
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
}

.SideBar {
  display: inline-block;
  *display: inline;
  vertical-align: top;
  width: 30vw;
  min-height: 95vh;

}

.SideBarContainer {
  display: flex;
  flex-wrap: wrap;
  vertical-align: top;
  width: 30vw;
  min-height: 100vh;
  background-color: black;
}

.SocialBar {
  display: flex;
  justify-content: center;
  vertical-align: bottom;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.SocialBarContainer {
  display: flex;
  width: 5vw;
  height: 40vh;
  right: 0px;
  bottom: 0px;
  position: fixed;
  justify-content: center;
  z-index: 2;
}

.lineContainer {
  display: flex;
  justify-content: center;
}

.vertLine {
  border-right: 5px solid #282726;
  height: 50vh;
}

.Content {
  width: 70%;
  background-color: white;
  min-height: 100vh;
  color: black;
  overflow-y: scroll;
}
/*Content members*/

#portfolio {
  width: 100%;
  height: 100vh;
}

.Pix {
  width: 100vw;
  min-height: 100vh;
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  object-fit: cover;
}

.PortfolioSlide {
  position: relative;
  width: 70vw;
  min-height: 100vh;
  opacity: 1;
  object-fit: cover;

}

.PortfolioBG {
  position: absolute;
  width: 100%;
  min-height: 100%;
  opacity: 0.5;

}

button.socialBtn , .arrowBtn, .UpButton{
  width: 30px;
  height: 30px;
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  background: transparent;
}

button:hover {
  opacity: 0.7;
  color: #E7E5E1;
  cursor: pointer;
  -webkit-transition: transform 0.3s; /* Safari prior 6.1 */
  transition: transform 0.3s;
}

button.arrowBtn:hover, .UpButton:hover {
  transform:scale(1.3,1.3);

}

button:focus {
  outline: 0 !important;
}

button.socialBtn {
  margin-bottom: 10px;
}
button.socialBtn:hover {
  -webkit-transition: transform 0.3s; /* Safari prior 6.1 */
  transition: transform 0.3s;
  transform:scale(1.3,1.3);
}

#wisc-link {
  color: #58A855;
  text-decoration: none;
}

#wisc-link:hover {
  opacity: 0.8;
  text-decoration: none;
}

#wisc-link:visited {
  opacity: 1;
  text-decoration: none;
}


.UpButton {
  color: white;
}

.contentWrapper {
  width: 100vw;
  height: 100vh;

}

.PixContainer {
  background: url('./Images/grad-pic-1.jpg');
  background-repeat: no-repeat;
  opacity: 0.7;
  background-size: 100% 110%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.PolaroidWrapper {
  position: relative;
  z-index: 4;
  margin-top: 50px;
}

.PolaroidWrapper:hover{
  transition: 0.5s ease;
  transform: scale(1.1) !important;
  z-index: 5;
  cursor: pointer;
}

.PostItWrapper {
  position: relative;
  z-index: 4;
  margin-top: 50px;
}

.PostItBody {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.PostItTwoLinerBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.PostItMenuText:hover {
  transition: 0.5s;
  transform: scale(1.2);
}

.PostItWrapper:hover{
  cursor: pointer;
}

.PolaroidWrapper:hover .PolaroidPic{
  transition: 0.5s ease;
  opacity: 1.0;
}

.PolaroidPic{
  opacity: 0.8;
}

.Tape {
  z-index: 2;
}

.Corkboard {
  background: url('./Images/corkboard.jpg');
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: 120% 100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.corkboardMenu {
  display: flex;
  width: 30%;
  height: 100%;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.corkboardContent {
  display: flex;
  width: 70%;
  height: 100%;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ModalWrapper {
  position: absolute !important;
}

.infoModalTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
}

.modalPeriod {
  font-size: 12px;
}

.modal-header {
  border-bottom: 0px !important;
}

.modal-body {
  width: 600 !important;
  height: 400 !important;
  color: 'black';
  background-repeat: 'repeat';
  font-size: 24px;
}

.modal-content {
  width: 800 !important;
  height: 800 !important;
  color: 'black';
  background-image: url("/tile.png") ;
  background-repeat: 'repeat';
  font-family: 'Permanent Marker', cursive;

}

.noteCard {
  width: 600 !important;
  height: 400 !important;
  color: 'black';
  font-family: 'Permanent Marker', cursive;
  background-image: "tile.png";
  background-repeat: 'repeat';
}

.infoTitle {
  font-size: 40px !important;
}

.infoPeriod {
  font-size: 15px !important;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  z-index: 1;
  width: 100%;
  font-size: 24px;
}

.navContent {
  cursor: pointer;

}

.navContent:hover {
  transition: 0.5s ease;
  transform: scale(1.1);
}

.introduction {
  font-size: 48px;
}

.resumeButton {
  background-color: black !important;
}

.resumeButton:hover {
  opacity: 1;
  transition: 0.5s;
  transform: scale(1.2);
}

.introContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btnWrapper{
  width: 200px;
  height: 50px;
}

.infoContent{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.desc {
  display: flex;
  flex-direction: row;

}
