.Intro {
  text-align: center;
  position: relative;
  background-color: #282726;
  min-height: 100vh;
  min-width: 100vw;
  color: black;
}

#pix {
  display: inline-block;
  *display: inline;
  vertical-align: top;
  width: 40vw;
  background-color: grey;
  min-height: 100vh;
}

#intro-text{
  display: inline-block;
  *display: inline;
  vertical-align: top;
  color: #E7E5E1;
  width: 60vw;
}

#down-arrow{
  position: absolute;
  color: purple;
  bottom: 50px;
  left: 50%;
  margin: 0 auto;
  width: 20px;
  height: 20px;
}

#up-arrow{
  position: relative;
  display:inline-block;
  color: purple;
  bottom: 50px;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background: transparent;
}

.ContentWrapper {
  text-align: center;
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
}

.SideBar {
  display: inline-block;
  *display: inline;
  vertical-align: top;
  width: 30vw;
  min-height: 95vh;
}

.SideBarContainer {
  vertical-align: top;
  width: 30vw;
  min-height: 100vh;
}

.Content {
  display: inline-block;
  *display: inline;
  vertical-align: top;
  width: 70vw;
  background-color: grey;
  min-height: 100vh;
}
/*Content members*/

#portfolio {
  width: 100%;
  height: 100vh;
}

.Pix {
  width: 40vw;
  min-height: 100vh;
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  object-fit: cover;
}

.PortfolioSlide {
  position: relative;
  width: 70vw;
  min-height: 100vh;
  opacity: 1;
  object-fit: cover;

}

.PortfolioBG {
  position: absolute;
  width: 100%;
  min-height: 100%;
  opacity: 0.5;

}

button {
  width: 30px;
  height: 30px;
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  background: transparent;
  color: ;
}

button:hover {
  opacity: 0.7;
  color: blue;
  cursor: pointer;
}

button:focus {
  outline: none;
}

#wisc-link {
  color: #58A855;
  text-decoration: none;
}

#wisc-link:hover {
  opacity: 0.8;
  text-decoration: none;
}

#wisc-link:visited {
  opacity: 1;
  text-decoration: none;
}


.UpButton {
  color: white;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
